server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: recommendation-service
          uri: lb://recommendation-service
          predicates:
            - Path=/recommendation-service/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info

eureka:
  instance:
    hostname: 127.0.0.1
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
